.aboutusCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
    height: 17vw;
    background-color: #FBFAF8;
    border-radius: 5%;
    padding: 2vw;
    filter: drop-shadow(3px 4px 20px rgba(118, 96, 55, 0.1));
    h3{
        font-size: calc(6.66px + 0.695vw);
        color: rgba(2, 94, 110, 1);
    }
    .aboutusCardIcon{
        width: 3vw;
    }
    p{
        font-size: calc(5.33px + 0.555vw);
        color: rgba(47, 38, 22, 1)
    }
}
.aboutusCard1{
    position: relative;
    bottom: 2vw;
    left: 1vw;
}
.aboutusCard2{
    position: relative;
    top: 5vw;
    right: 1.5vw;
}