.logo {
    width: 15rem;
}
.nav-link:hover {
    color: black;
    font-weight: bold;
}
.nav-link:focus{
    color: black;
    font-weight: bold;
}
.navbar-nav .show>.nav-link {
    color: black;
    font-weight: bold;
}