.heroVector{
    height: 39vw;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='560' viewBox='0 0 1440 560' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M702.39 516.509C417.006 571.183 115.22 560.828 0 548.817V0H1440V560C1313.04 522.722 987.774 461.834 702.39 516.509Z' fill='url(%23paint0_linear_351_1880)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_351_1880' x1='97.6356' y1='199.687' x2='1363.89' y2='199.687' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BA9F6B' stop-opacity='0.65'/%3E%3Cstop offset='1' stop-color='%23766037' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position-y: -6vw;
    position: absolute;
    z-index: -1;
    margin-top: 1%;
    background-repeat: no-repeat;
}

.heroContacto{
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='560' viewBox='0 0 1440 560' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M702.39 516.509C417.006 571.183 115.22 560.828 0 548.817V0H1440V560C1313.04 522.722 987.774 461.834 702.39 516.509Z' fill='url(%23paint0_linear_351_1880)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_351_1880' x1='97.6356' y1='199.687' x2='1363.89' y2='199.687' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BA9F6B' stop-opacity='0.65'/%3E%3Cstop offset='1' stop-color='%23766037' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"),
    url("../../../public/hero-img-contacto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -6vw;
    height: 39vw;
    margin-bottom: 20vw;
    .heroContactoTitle{
        color: white;
        font-size: calc(20px + 2.0833vw);
        margin: auto;
        margin-top: 9.375vw;
    }
    .heroContactoCards{
        display: flex;
        gap: 1.56vw;
        margin: auto;
        position: absolute;
        top: 23vw;
        left: 17.972vw;
        .heroContactoCard{
            height: 20vw;
            width: 14.844vw;
            background: #FBFAF8;
            border-radius: 15px;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.49);
            -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.49);
            -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.49);
            padding: 1.5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                font-size: calc(6.66px + 0.695vw);
                color: rgba(2, 94, 110, 1);
                margin-bottom: 0.4166vw;
            }
            img{
                max-width: 2.6vw;
                max-height: 2.6vw;
                margin-bottom: 0.9375vw;
            }
            p{
                font-size: calc(5.33px + 0.555vw);
                color: rgba(47, 38, 22, 1);
                text-align: center;
                margin-bottom: 0.4166vw;
            }
            .heroContactoCardImgs{
                display: flex;
                gap: 0.4vw;
            }
            .heroContactoCardSecondaryh3{
                margin-top: 0.833vw;
            }
            .socialnetworks{
                display: flex;
                gap: 0.6vw;
                .socialnetworksBtn{
                    display: flex;
                    justify-content: center;
                    min-width: 1.823vw;
                    max-width: 1.823vw;
                    min-height: 1.823vw;
                    max-height: 1.823vw;
                    img{
                        min-width: 1vw;
                        max-width: 1vw;
                        min-height: 1vw;
                        max-height: 1vw;
                    }
                }
            }
        }
    }
}